*{

    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{

    background-color: #fff;
    color: #555;
    font-family: 'lato', sans-serif, Arial;
    font-size: 20px;
    font-weight: 300;
    overflow-x: hidden;
    text-rendering: optimizelegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;  }
header{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))),url("imgs/hero.jpg");
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("imgs/hero.jpg");
    background-image: -o-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("imgs/hero.jpg");
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("imgs/hero.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center ;
    height: 100vh; }
a:link,a:active{
    background: transparent;
    color:#e67e22;
    text-decoration: none;
    padding: 1px;
    border-bottom: 1px solid #e67e22;
}
a:hover,a:visited{
    color: #555555;
    border-bottom: 1px solid transparent;
    -webkit-transition:background-color 0.2s ,border 0.2s, color 0.2s;
    -o-transition:background-color 0.2s ,border 0.2s, color 0.2s;
    transition:background-color 0.2s ,border 0.2s, color 0.2s;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);  }
h1,h2,h3{

    font-weight: 300;
    text-transform: uppercase;

}
h1{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;

}
h2
{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}
h2:after{
    display: block;
    height: 2px;
    background-color:#e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;

}
h3{
    font-size: 110%;
    margin-bottom: 15px;

}
.btn:link,.btn:visited,input[type=submit]{

    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #ffffff;
    -webkit-transition: background-color 0.4s ,border 0.3s , color 0.3s;
    -o-transition: background-color 0.4s ,border 0.3s , color 0.3s;
    transition: background-color 0.4s ,border 0.3s , color 0.3s;
}

.hero-text-box .btn:hover,.hero-text-box  .btn:active{
    background-color:#de7519;


}
.btn-full:link,.btn-full:visited,input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #ffffff;
    margin-right: 15px;
}

.btn-ghost:link,.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22!important;
}

.btn-full:hover, .btn:active{
    border: 1px solid #cf520c !important;
}
.btn-ghost:hover,.btn-ghost:active{
    border: 1px solid #cf6d17!important;
    background-color: #e67e22;
    color: #ffffff!important;
}
nav{

}
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}
.logo,.logo-black{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;

}
.logo-black{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;

}
.main-nav{

    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li{
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;

}
.main-nav li a:link,.main-nav li a:visited{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s;

}
.section-features .long-copy {
    margin-bottom: 30px;
}

.main-nav li a:hover,.main-nav li a:active{
    border-bottom: 2px solid #e67e22 ;

}
section{


    padding: 80px 0;
}
.long-copy{
    line-height: 140%;
    width: 70%;
    margin-left: 15%;


}
.box{
    padding: 1%;
}
.box p {

    font-size: 90%;
    line-height: 145%;
}
.icon-big{

    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;


}
.clearfix{zoom:1}
.clearfix:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}

.meals-showCase{
    list-style: none;
    width: 100%;
}
.meals-showCase li{
    display: block;
    float: left;
    width: 25%;
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: #000000;


}
.meal-photo img:hover{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

}
.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s ,-webkit-transform 0.5s;
    transition: opacity 0.5s ,-webkit-transform 0.5s;
    -o-transition: transform 0.5s ,opacity 0.5s;
    transition: transform 0.5s ,opacity 0.5s;
    transition: transform 0.5s ,opacity 0.5s ,-webkit-transform 0.5s;
}
.section-meals{padding: 0px;}

.step-box{

    margin-top: 30px;
}
.step-box:first-child{
    text-align: right;
    padding-right: 3%;


}
.step-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{

    width: 40%;
}
.works-step{
    margin-bottom: 50px;
}
.works-step:last-of-type{
    margin-bottom: 80px;
}
.works-step div{

    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px ;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 50px;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.section-steps{
    background-color: #f4f4f4;
}
.box img{

    width: 100%;
    height:auto;
    margin-bottom: 15px;
}
.city-feature{
    margin-bottom: 5px;

}
.icon-small{

    display: inline-block;
    width: 30px;
    text-align: center;
    color:#e67e22 ;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
.btn-app:link,.btn-app:visited{
    border: none;
}
.section-testimonials{

    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.8)),to(rgba(0,0,0,0.8))),url("../images/back-customers.jpg");

    background-image: -webkit-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../images/back-customers.jpg");

    background-image: -o-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../images/back-customers.jpg");

    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../images/back-customers.jpg");
    background-size: cover;
    color: white;
    background-attachment: fixed;
}
blockquote{

    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}
cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
} cite img{
      height:45px;

      border-radius: 50%;
      margin-right: 10px;
      vertical-align: middle;
  }
blockquote:before{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left:-3px;
}



.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}


.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}







.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;

}


*:focus {outline: none;}




















/*footer*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

.js--wp-1,.js--wp-2,.js--wp-3,.js--wp-4,.js--wp-5{
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated{
opacity: 1;
}
